@using X.PagedList.Mvc.Core
@using X.PagedList
@model X.PagedList.IPagedList<EProjet.NETCore.Models.Recipe>
@{
}
@section Styles {
    <link rel="stylesheet" href="~/css/recipe.css" />
}
<section class="recipe">
    <div class="recipe_head">
        <div class="recipe_head_name">
            <h1>Recipes</h1>
        </div>
        <div class="recipe_search">
            <form action="/recipe/search" method="get">
                <label for="input_search">Search:</label>
                <input type="text" id="input_search" name="input_search" class="input_search" placeholder="Search...." value="@ViewBag.InputSearch">

                <input type="checkbox" name="input_free" id="input_free" class="input_check" value="1" @(ViewBag.InputFree == "1" ? "checked" : "")>
                <label for="input_free" class="free_label">Free</label>

                <input type="checkbox" name="input_premium" id="input_premium" class="input_check" value="2" @(ViewBag.InputPremium == "2" ? "checked" : "")>
                <label for="input_premium" class="pre_label">Premium</label>

                <button type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="recipe_main">
        <div class="recipe_list">
            @if (Model != null && Model.Any())
            {
                @foreach (var recipe in Model)
                {
                    <div class="item_recipe">
                        <a href="@Url.Action("RecipeDetail", "Recipe", new { id = @recipe.Id })" class="link_recipe">
                            <div class="menu_card">
                                <div class="menu_image">
                                    <img src="@recipe.Img">
                                </div>
                                <div class="small_card">
                                    <p class="small_vip"><i class="fa-solid fa-check"></i></p>
                                </div>
                                <div class="menu_info">
                                    <p>@recipe.Title</p>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
        @Html.PagedListPager(Model, page => Url.Action("Search", new
            {
                input_search = ViewBag.InputSearch,
                input_free = ViewBag.InputFree,
                input_premium = ViewBag.InputPremium,
                page,
                pageSize = 8
            }),
                 new PagedListRenderOptions
        {
            UlElementClasses = new[] { "pagination" },
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" },
        })

        <div class="load-item">
            <button class="load-more">Load More</button>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/recipe.js"></script>
}
